@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dana";
    src: url("/fonts/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: url("/fonts/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Bold";
    src: url("/fonts/DanaFaNum-Bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Light";
    src: url("/fonts/Morabba-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Medium";
    src: url("/fonts/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Bold";
    src: url("/fonts/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }
}
body {
  background-image: url(/images/headerBgDesktop.png);
  background-repeat: no-repeat;
  @apply font-Dana bg-gray-100 dark:bg-zinc-800;
}
