@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dana";
    src: url("/fonts/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: url("/fonts/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Bold";
    src: url("/fonts/DanaFaNum-Bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Light";
    src: url("/fonts/Morabba-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Medium";
    src: url("/fonts/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Bold";
    src: url("/fonts/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }
}
body {
  background-image: url(/images/headerBgDesktop.webp);
  background-repeat: no-repeat;
  @apply font-Dana bg-gray-100 dark:bg-zinc-800;
}

@layer components {
  .submenu {
    @apply hidden flex-col gap-y-3 child:mr-7 text-zinc-600 dark:text-white;
  }
  .submenu--open {
    @apply flex;
  }
  .submenu__item--active {
    @apply relative text-orange-300 pr-2.5;
  }
  .submenu__item--active::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fdba74;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
  .menu {
    @apply fixed top-0 bottom-0 left-0 w-64 px-4 h-screen overflow-y-auto bg-white dark:bg-zinc-700 z-20 transition-all;
  }
  .open-menu {
    @apply right-0;
  }
  .close-menu {
    @apply -right-64;
  }
  .overlay {
    @apply md:hidden invisible opacity-0 bg-black/40 fixed inset-0 w-full h-full z-10 transition-all;
  }
  .open-overlay {
    @apply visible opacity-100;
  }
  .shoping-cart {
    @apply fixed top-0 bottom-0 flex flex-col w-64 h-screen px-4 overflow-y-auto bg-white dark:bg-zinc-700 z-20 transition-all;
  }
  .open-cart {
    @apply left-0;
  }
  .close-cart {
    @apply -left-64;
  }
}
