@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dana";
    src: url("/fonts/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: url("/fonts/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Bold";
    src: url("/fonts/DanaFaNum-Bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Light";
    src: url("/fonts/Morabba-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Medium";
    src: url("/fonts/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Bold";
    src: url("/fonts/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }
}
body {
  @apply font-Dana bg-gray-100 dark:bg-zinc-800;
}

@layer components {
  .submenu {
    @apply hidden flex-col gap-y-3 child:mr-7 text-zinc-600 dark:text-white;
  }
  .submenu--open {
    @apply flex;
  }
  .submenu__item--active {
    @apply relative text-orange-300 pr-2.5;
  }
  .submenu__item--active::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fdba74;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
  .menu {
    @apply fixed top-0 bottom-0 left-0 w-64 px-4 h-screen overflow-y-auto bg-white dark:bg-zinc-700 z-20 transition-all;
  }
  .open-menu {
    @apply right-0;
  }
  .close-menu {
    @apply -right-64;
  }
  .overlay {
    @apply md:hidden invisible opacity-0 bg-black/40 fixed inset-0 w-full h-full z-10 transition-all;
  }
  .open-overlay {
    @apply visible opacity-100;
  }
  .shoping-cart {
    @apply fixed top-0 bottom-0 flex flex-col w-64 h-screen px-4 overflow-y-auto bg-white dark:bg-zinc-700 z-20 transition-all;
  }
  .open-cart {
    @apply left-0;
  }
  .close-cart {
    @apply -left-64;
  }
  .circle {
    @apply hidden md:flex items-center justify-center border rounded-full;
  }
  .circle-main {
    @apply absolute bottom-0 right-0 left-0 mx-auto translate-y-2/4;
  }
  .circle-lg {
    @apply w-[203px] h-[203px] border-white/25;
  }
  .circle-md {
    @apply w-[145px] h-[145px] border-white/50;
  }
  .circle-sm {
    @apply w-[95px] h-[95px] border-white/80;
  }
  @media screen and (min-width: 1280px) {
    html.dark .products {
      background-image: url(/images/products.png);
    }
    .products {
      background: linear-gradient(
          rgba(243, 244, 246, 0.65),
          rgba(243, 244, 246, 0.65)
        ),
        url(/images/products.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
    }
  }
  .section-title {
    @apply font-MorabbaMedium text-2xl md:text-5xl;
  }
  .section-usb-title {
    @apply inline-block mt-0.5 md:mt-1.5 font-MorabbaLight text-lg md:text-3xl;
  }
  .section-link {
    @apply flex items-center justify-center md:gap-2 text-xl text-orange-300 transition-colors hover:bg-orange-300/20 h-10 pr-3 pl-1 rounded-md tracking-tightest;
  }

  .offer {
    @apply relative inline-block text-gray-400;
  }
  .offer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    inset: 0;
    top: 13px;
    background: #ef4444;
  }
  .category-banner--item1 {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url(/images/categories/category-right.jpg);
    background-size: cover;
  }
  .category-banner--item2 {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.8) 33.85%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url(/images/categories/category-left.jpg);
    background-size: cover;
  }
  .services {
    @apply relative;
  }
  .services::after,
  .services::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: #d1d5db;
  }
  @media screen and (min-width: 480px) {
    .services::after,
    .services::before {
      content: none;
    }
  }
  html.dark .services::after,
  html.dark .services::before {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .services::after {
    width: 1px;
    height: calc(100% + 20px);
  }
  .services::before {
    width: calc(100% - 2rem);
    height: 1px;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .ltr-text {
    direction: ltr;
    text-align: left;
  }
}
